                                    /*HEADER*/
.noPadding{
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
a{
    text-decoration: none !important;
    color:white;
}
a:hover{
    color:#ecaf69;
}
ul{
    padding-left: 0;
}
ul li{
    display: inline-block;
    list-style: none;
}
ul li:first-child{
    margin-left: 0px;
}
header{
    height:559px;
    font-weight: bold;
    background: url(../images/library1.jpg);
    background-repeat: no-repeat !important;
}
header > div{
    padding-top: 50px;
    color:white; 
}
/*MENU*/
.active a{
   color:#ecaf69 !important;
}
nav{
    margin-top: 50px;
}
.main_menu{
    position: relative;
    padding-left: 0;
}
.main_menu li{
    margin-left: 50px;
}
.main_menu li:first-child{
    margin-left: 0;
}
.main_menu li a{
    cursor: pointer;
}
.main_menu li:hover a{
    color:#ecaf69;
    transition: 1s;
}
/*SCROLL MENU*/
.scrollMenu{
    position:fixed;
    display: none;
    z-index: 1;
    top:0;
    width: 100%;
    margin: 0 ;
    padding: 20px;
    background: #777777;
    border-bottom: 1px solid #333333;
}
.scrollMenu a{
    color:white;
}
/*SELECT MENU*/
.select_menu{
    display: none;
}
/*SLIDER UL*/
.siderPict{
    list-style: none;
    padding-left: 0;
}
.siderPict li{
    margin-left: 10px;
    display: inline-block;
    width:90px;
    height:90px;
    border:4px solid white;
    cursor: pointer;
    background-size: cover;
}
.cover{
    z-index: 1;
    height: 100%;
    background-color: black;
    opacity: 0.4; 
}
.siderPict li:hover .cover{
    opacity: 0;
}
.siderPict li:first-child{
     margin-left: 0;
}
#one{
    background-image: url(../images/library1.jpg);
}
#two{
    background-image: url(../images/library2.jpg);
}
#three{
    background-image: url(../images/library3.jpg);
}
#sliderText{
    height: 160px;
}
#myModal  div.modal-dialog li{
    width:45%;
}
div.modal-dialog div  ul  li a{
    color:#333 ;
}
#signInMobile{
    display:none;
}
#myTab li  a{
    color:#333 ;
    font-weight: bold;
}
.loginForm{
    display: none;
/*    padding: 20px;*/
}
label{
    color:#333;
}
                                            /* /HEADER */


    /*  PAGES AJAX  */
section{
    padding-top:50px;
    padding-bottom:50px;
}
.rowColor{
    background: #ece6de;
}
.blockMark{
    width:200px;
    padding: 10px;
    border-radius: 20px;
    background: #ecaf69;
    color: white;
    margin: 0 auto;
}
.blockHeading{
    font-size: 30pt;
    margin-bottom: 30px;
}
.box{
    padding-left: 40px;
    padding-right: 10px;
}
                        /*     HOME     */
.icon12md{
    padding-top: 20px;
    width:70px;
}
.textBlock12md{
    width: 80%;
    padding: 20px;
}
.textBlock12md > a{
    font-weight: bold;
    color:#777777;
}
.textBlock12md > a:hover{
    color:#ecaf69;
}
.homeSlider1{
    background: url(../images/library6.jpg);
    background-attachment: fixed;
}
.blockHomeMark{
    width:200px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    margin: 0 auto;
}
.blockHomeHeading{
    font-size: 30pt;
    margin-bottom: 30px;
    color: white;
}
.slider1Box{
    margin: 0 auto;
    margin-top:50px;
    margin-bottom:50px;
    background-color: white;
}
/*
.mostPopularLeft{
    margin-top:0; 
}
*/
.mostPopular h5{
    color:#ecaf69;
}
/*
.mostPopular p{
    margin-top: 10px;
    display: inline-block;
    width: 200px;
}
*/
/*
.mostPopular a{
    margin-top: 10% !important;
    display: block;
    margin: 0 auto;
    color:#ecaf69;
}
.mostPopular a:hover{
    text-decoration: underline !important;
}
*/
/*
.popularBooks a{
    display: block;
    width:150px;
    height: 200px;
    border: 8px solid white;
    background-size: contain;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
*/
.bookRow a{
    display: inline-block;
    width:150px;
    height: 200px;
    border: 8px solid white;  
}

.slicerBox{
    padding: 20px;
    background: white;
    height: 158px;
}
.slicerBox2{
    height: 158px;
    color:white;
}.slicerBox2 p,a {
  padding-left: 20px!important;
}
.slicerBox2 a {
  font-weight: bold;
  font-size: 15pt;
}
.dateBox{
    border-left: 1px solid black;
    margin: 9px;
}
.carousel-indicators{
   top: 180px !important;
}
.carousel-indicators>li{
    border:2px solid white !important;
}

.slideWidth >div{
    max-width: 850px;
    margin: 0 auto;
}


.list_books{
    clear: both;
}
#book1{
    background: url(../images/page-1_img12-thumb.jpg);  
}
#book2{
    background: url(../images/page-1_img13-thumb.jpg);  
}
#book3{
    background: url(../images/page-1_img14-thumb.jpg);  
}
#book4{
    background: url(../images/page-1_img15-thumb.jpg);  
}
#book5{
    background: url(../images/page-1_img16-thumb.jpg);  
}
#book6{
    background: url(../images/page-1_img17-thumb.jpg);  
}
.homeSlider2{
    background: url(../images/library7.jpg);
    background-attachment: fixed;
}

                        /*     /HOME    */
                        /*     ABOUT    */

.readMore{
    border: 2px solid #ecaf69;
    padding: 8px 22px 7px 18px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}
.aText{
    color:#777777;
}
.aText:hover{
    text-decoration: underline;
}
.picture{
    width:285px !important;
}
.marckerList li {
    margin-left: 20px !important;
    display: block;
    list-style-type: none;
     text-align: justify !important;
     font-weight: bold; 
}
.marckerList li:before {
     content: ">"; 
     color: #ecaf69;
}
.marckerList li a{
    color: #ecaf69;
}
.marckerList li a:hover{
    text-decoration: underline !important;
}
.icon{
    padding-top: 20px;
    width:70px;
}
.valueBox{
    height:100px !important;
}
.textBlock > a{
    font-weight: bold;
    color:#777777;
}
.textBlock > a:hover{
    color:#ecaf69;
}
.textBlock{
    width: 70%;
    padding: 20px;
}
.trusters h4>a{
    color:#777777;    
}
.trusters h4>a:hover{
    color:#ecaf69;    
}
                                        /*     /ABOUT    */
                                        /*     CATALOG    */
.catalogBox{
    margin-top: 20px;
}
.description{
    width: 350px;
    height: 240px;
    padding-left: 30px;
}
.description a{
    display: inline-block;
    color: #777777;
    margin-bottom: 10px;
    font-weight: bold;
}  
.description a:hover{
    color:#ecaf69; 
}
.holdBtn{
    background: #D1C6B9;
    padding: 5px;
    color:white;
    border-radius: 30px;
    font-weight: bold;
}
.holdBtn:hover{
    background:#F6CEEC;
    transition: 1s;
}                                       
.addBtn{
    background: #ECAF69;
    padding: 5px;
    color:white;
    border-radius: 30px;
    font-weight: bold;
}
.addBtn:hover{
    background:#F6CEEC;
    transition: 1s;
}
                                        /*     /CATALOG    */
                                        /*     NEWS    */
.newsWrapper{
    margin-top: 50px !important;
    padding:0;
    
}
                                        /*     /NEWS    */
                                        /*     CONTACTS    */
.mail{
    color:#ecaf69; 
    font-weight: bold;
}
.formblock{
    margin-top: 10px;
}
                                        /*     /CONTACTS    */



                                         /*  /PAGES AJAX  */

                                        /* FOOTER  */
footer{
    padding: 55px;
    height: 500px;
    background-image: url(../images/Library4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:white;
    font-weight: bold;
}
address{
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    height: 300px;
    background: rgba(236, 175, 105, 0.4);
}
address i{
    font-size:36pt !important; 
}
address p{
    margin-top: 15px;
}
address .phoneIcon{
    margin-top: 40px;
}
.social-link li{
   margin-top: 20px;    
   margin-left: 120px;
}
.social-link li a{
    font-size:36pt;
}
.copyright{
    margin-top: 40px;
}
                                            /* /FOOTER */
                                            /*  MEDIA  */
/* 650px */
/* HEADER */
@media (max-width:992px){
    .rowColor .books{
        width: 50%;
        margin: 0 0 25px 0;
    }
}
@media (max-width:768px){
        width:50%;
    .rowColor .books{
    }
    
}
@media screen and (max-width: 650px){
    header{
        background-size: auto;
    }
    .main_menu li{
        margin-left: 10px !important;
    }
    #sliderText{ 
        height:200px;
    }
    .siderPict li{
        width: 70px;
        height: 70px;
    }
     .siderPict li img{
        width: 60px;
        height: 60px;
    }
    nav.scrollMenu{
        display: none !important;
    }
    /* /HEADER */ 
    /*HOME*/
    
    .bookRow a{
        margin: 0 auto;
    }

    /*/HOME*/
    /*ABOUT*/
    .box{
        padding: 10px 0 0 0;
    }
    .marckerList li{
        margin: 0 auto;
        text-align: center !important;
    }
    .icon{
        padding-top: 10px;
    }
    .textBlock{
        padding:0 !important;
    }
    /*/ABOUT*/
    /* CATALOG */
    .catalogBox > div{
        margin-top: 20px;        
    }
    
    
    
    /* /CATALOG */
    /* FOOTER  */
    address{
        width: 250px;
    }
    .social-link li{
        margin-left:50px;
    }
    /* /FOOTER  */

}
/* 450px */
    /* HEADER */
@media screen and (max-width:450px){
    .scrollMenu{
        display: none !important;
    }
    .main_menu{
        display:none; 
    }
    .select_menu{
        display: block;
        margin: 0 auto;
        width:80%;
        color: black;
        text-align: center !important;       
    }
    .select_menu option{
        color: black;
        text-align: center !important;
    }
    #sliderText{ 
        height:220px;
    }
    #signIn{
        display: none;
    }
    #signInMobile{
        display: block !important;
        margin: 0 auto;
    }
    .nav-tabs li{
        width: 45%;
    }
    .nav-tabs li a{
        text-align: center;
    }
    .loginForm{
        display: block;
    }
    /* /HEADER */
    /* HOME */
    
    .bookRow a{
        margin: 0 auto;
    }

    /* /HOME */
    /* CATALOG */
    .description{
        padding-left: 0 !important;
        width: 300px;
        text-align: center;
    }
    .bookImage{
        margin-left: 30% !important;
    }
    /* /CATALOG */
    /* FOOTER  */
     address{
        width: 200px;
    }
    .social-link li{
        margin-left:10px;
    }
    .social-link li a{
        font-size: 24pt;
    }
    /* /FOOTER  */

    
}

